body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
}

#login, #game-options, #chessboard-container {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid #ccc;
    background: #fff;
    display: inline-block;
}
